@import '../../variables.css';
.container {
  width: 70vw;
  margin-top: 50px;
  height: 100vh;
  /* display: flex; */
  /* padding-top: 150px; */
  /* padding-bottom: 150px; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* overflow-x: scroll; */
  /* justify-content: center; */
  /* background: var(--blue1991b); */
}
/* 
.slider {
  height: 80%;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
} */

.slide {
  /* height: 100vh; */
  /* width: 60vw; */
  /* height: 70%; */
}
