@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #2d2f36 !important;
}

.root {
  background-color: #2d2f36;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
